*.code-workspace
docs/overview.pptx

# website files
src/main/webapp/403.html
src/main/webapp/404.html
src/main/webapp/assets/403.gif
src/main/webapp/assets/404.jpg
src/main/webapp/assets/favicon.ico
src/main/webapp/data/problems/
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/

# non-project files
.gradle/
.vscode/
.idea/
*.iml
